---


---

<div class="hero-section flex-center-column content-width">

    <div style="background-color: red; width: 100%"><p>test</p></div>
    
</div>



<style>

.hero-section{
    width: clamp(300px, 80%, 1440px);
    overflow: hidden;
}

</style>