@import './variables.css';

/*================================
        ~~~ Base Stylings ~~~
================================*/
/*#region === Base Stylings === */
  html, body {  
    width: 100%;
    min-width: 320px;

    font-family: var(--font-family-base);
    font-size: var(--font-size-0);
    font-weight: 500;
    line-height: var(--line-height-base);
    color: var(--color-text-primary);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* Animations */
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  main
  {  
    width: clamp(320px, 100%, 1440px);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*#endregion*/


/*=======================================
        ~~~ Responsive Typography ~~~
=========================================*/
/*#region === Responsive Typography === */
  h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: var(--color-text-primary);
  }

  h1 { font-size: var(--font-size-5); }
  h2 { font-size: var(--font-size-4); }
  h3 { font-size: var(--font-size-3); }
  h4 { font-size: var(--font-size-2); }
  h5 { font-size: var(--font-size-1); }

  p {
      font-size: var(--font-size-0); 
      color: var(--color-text-secondary);
  }
/*#endregion*/
  

/*================================
        ~~~ Images ~~~
================================*/
/*#region === Images === */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
/*#endregion*/


/*================================
        ~~~ Links ~~~
================================*/
/*#region === Links === */
  a {
      color: var(--color-text-primary);
      text-decoration: none;
      transition: background-color 0.25s ease, color 0.5s ease;    
      padding: var(--spacing--1) var(--spacing-0) var(--spacing--1) var(--spacing-0);
      border-radius: var(--border-radius);
  }
    
  a:hover {
    /*text-decoration: underline;*/
    color: var(--color-text-secondary);
  }
/*#endregion*/


/*================================
        ~~~ Buttons ~~~
================================*/
/*#region === Buttons === */
  button {
      font-family: var(--font-family-base);
      font-size: var(--font-size-0);
      font-weight: 500;
      padding: 0.75rem var(--spacing-0);
      border: none;
      border-radius: var(--border-radius);
      background-color: var(--color-primary);
      color: #ffffff;
      cursor: pointer;
      box-shadow: var(--box-shadow);
      transition: background-color 0.3s ease;
  }

  button:hover {
      background-color: var(--color-secondary);
      color: var(--color-text-secondary);
  }
/*#endregion*/
  

/*================================
        ~~~ Utility Classes ~~~
================================*/


/*================================
        ~~~ Spacing ~~~
================================*/
/*#region === Spacing === */

  /* Width */
  .content-width{  
    width:  clamp(320px, 100vw, 1440px);       
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  /* Margin */
  .m-0 { margin: 0; }
  .mt-1 { margin-top: 0.625rem; }  /* 10px */
  .mt-2 { margin-top: 1.25rem; }   /* 20px */
  .mt-3 { margin-top: 1.875rem; }  /* 30px */
  .mb-1 { margin-bottom: 0.625rem; }
  .mb-2 { margin-bottom: 1.25rem; }
  .mb-3 { margin-bottom: 1.875rem; }

  .responsive-margin-vertical { margin-top: clamp(0.5rem, 2vw, 1.5rem); margin-bottom: clamp(0.5rem, 2vw, 1.5rem); }
  .responsive-margin-horizontal { margin-left: clamp(0.5rem, 2vw, 1.5rem); margin-right: clamp(0.5rem, 2vw, 1.5rem); }

  /* Padding */
  .p-0 { padding: 0; }
  .p-1 { padding: 0.625rem; }
  .p-2 { padding: 1.25rem; }
  .p-3 { padding: 1.875rem; }
/*#endregion*/


/*================================
        ~~~ Flex ~~~
================================*/
/*#region === Flex === */
  .flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
/*#endregion*/


/*================================
        ~~~ Responsive Grid ~~~
================================*/
/*#region === Responsive Grid === */
  .grid {
    display: grid;
    gap: 20px;
  }
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: var(--breakpoint-tablet)) {
    .grid-3, .grid-4 { grid-template-columns: repeat(2, 1fr); }
  }

  @media (max-width: var(--breakpoint-mobile)) {
    .grid-2, .grid-3, .grid-4 { grid-template-columns: 1fr; }
  }
/*#endregion*/


/*================================
        ~~~ Visbility ~~~
================================*/
/*#region === Visbility === */
  .hidden {
    display: none;
  }

  /* Common Breakpoints: Mobile 320-779, Tablet 769-1279, Desktops 1280+*/
  .desktop-only {
    display: flex; /* Show on desktop */
  }

  .mobile-only {
    display: none; /* Hide on desktop */
  }

  @media screen and (max-width: 768px) {
    .desktop-only {
      display: none; /* Hide on mobile */
    }

    .mobile-only {
      display: flex; /* Show on mobile */
    }
  }
/*#endregion*/


/*================================
        ~~~ Light/Dark Mode ~~~
================================*/
/*#region === Light/Dark Mode === */

  .light-mode
  { 
    
    background-color: var(--color-primary);
    color: var(--color-text-primary)   
  }

  .dark-mode
  {
    background-color: var(--color-secondary);
    color: var(--color-text-secondary)    
  }

/*#endregion*/