:root {

/*================================
    === Color Variables === 
================================*/

    --color-primary: #222228; /* Primary color */
    --color-secondary: #F4F4F4; /* Secondary color */
    --color-accent: #64CCC5; /* Accent color */
    
    --color-background: #0C0C0C; /* Background color */
    --color-background2: #F4F4F4; /* Background color */
    --color-border: #0C0C0C; /* Border color */

    --color-text-primary: #FFFFFF; /* Primary text color */
    --color-text-secondary: #222228; /* Secondary text color */

    /*
    Nightsky-Black: #222228;
    gradientStart: #FF9898;
    gradientEnd: #8054FF;
    */

/*================================
    === Breakpoints Variables === 
================================*/

    --breakpoint-mobile: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-desktop: 1280px;
  
/*================================
    === Typograhpy Variables === 
================================*/

    font-size: 16px; /* Root font size, rem reference*/
    --font-family-base: 'Roboto', Arial, sans-serif; /* Base font family */  
    --line-height-base: 1.5; /* Base line height */  

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1440,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --font-size--2: clamp(0.72rem, 0.7988rem + -0.0875vw, 0.7813rem); /* Step -2: 12.5px → 11.52px */
    --font-size--1: clamp(0.9rem, 0.9482rem + -0.0536vw, 0.9375rem); /* Step -1: 15px → 14.4px */ 
    --font-size-0: clamp(1.125rem, 1.125rem + 0vw, 1.125rem); /* Step 0: 18px → 18px */
    --font-size-1: clamp(1.35rem, 1.3339rem + 0.0804vw, 1.4063rem); /* Step 1: 21.6px → 22.5px */
    --font-size-2: clamp(1.62rem, 1.5806rem + 0.1969vw, 1.7578rem); /* Step 2: 25.92px → 28.125px */
    --font-size-3: clamp(1.944rem, 1.8716rem + 0.3618vw, 2.1973rem); /* Step 3: 31.104px → 35.1563px */
    --font-size-4: clamp(2.3328rem, 2.2146rem + 0.5911vw, 2.7466rem); /* Step 4: 37.3248px → 43.9453px */
    --font-size-5: clamp(2.7994rem, 2.6183rem + 0.9055vw, 3.4332rem); /* Step 5: 44.7898px → 54.9316px */

/*================================
    === Spacing Variables === 
================================*/

    --spacing--2: 0.25rem;  /* 4px spacing */
    --spacing--1: 0.5rem;  /* 8x spacing */
    --spacing-0: 1rem; /* 16px spacing  */
    --spacing-1: 1.5rem; /* 20px spacing */
    --spacing-2: 2rem; /* 24px spacing */
    --spacing-3: 4rem; /* 32px spacing */
    --spacing-4: 6rem; /* 64px spacing */
  
/*================================
    === Border Variables ===
================================*/

    --border-radius: 2rem; /* Global border radius */
  
/*================================
    === Shadows Variables === 
================================*/

    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* box shadow */

}