---
import Image from 'astro/components/Image.astro'
import Logo from '../../assets/Logos/Ventori-logo-horizontal.png'
import ButtonAnimated from '../Buttons/Button-Fill-Side.astro'

import Navigation from '../Navigation/Navigation.astro'
const links = [
  { href: '#home', label: 'Home' },
  { href: '#services', label: 'Services' },
  { href: '#about', label: 'About' },
  { href: '#contact', label: 'Contact' },
]; 

---

<header class="main-header">
    <a href="http://localhost:4321/"><Image class="header-logo" src={Logo} alt="Company Logo"/></a>
    <Navigation links={links}/>
    <ButtonAnimated title="Get your Quote" link="http://localhost:4321/"/>
</header>


<style>
    .main-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-md);
        width:  clamp(300px, 80%, 1440px);       
    }

    .header-logo{
        max-height: var(--font-size-4);
        width: auto;
        height: auto;
    }
</style>